@font-face {
font-family:"Dancing Script";
src: url(../fuentes/Dancing-Script.ttf);
}

body{
background-color: #02010a;
font-family: Dancing Script;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #5b7989;

  color: white;
  Text-shadow: 2px 2px 2px  #02010a;
  border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}
.menu {
  margin-left: 65%;
  margin-top: 40px;
  text-align: left;
  color: green;

}
a{
  color:white;
}
#retratos{
  text-decoration: none;
}
a:hover{
  color: red;
}

#contenido{
  background-color: #d5c75f;
  border-radius: 10px;
}

.imagenessuperior
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.imagenesinferior
{
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

div img
{
  width: 100%;
  height: 100%;
}



.a, .b, .c, .d, .e, .f {
  padding: 3%;
  box-shadow: 1px 1px 1px grey;
  border-radius: 10px;
}
#img1 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    box-shadow: 2px 2px #02010a
}
footer {
  background-color: #C6d5c5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;

}

footer img{
  width: 20px;
}
.contacto, .terminos, .redes, .derechos{
  width: 25%;
}

.b, .d, .f{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.c {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

@media all and (max-width:900px) and (min-width:201px)
{

header
{
  text-align: center;
  display: flex;
  flex-direction: column;
  }

.imagenessuperior {
  display: flex;
  flex-direction: column;
}
.a
{
  order:1;
}
.b
{
  order:2;
}
.c
{
  order:3;
}
.imagenesinferior {
  display: flex;
  flex-direction: column;
}
.d
{
  order:1;
}
.e
{
  order:2;
}
.f
{
  order:3;
}

    footer{
      display: flex;
      flex-direction: column;
    }
    .contacto, .terminos, .redes, .derechos{
      width: 100%;
    }
